<!--

*********************************************** FORM DI CONTATTO VIA MAIL

-->


{% extends 'platform.html' %}
{% block head_title %}{{ block.super }} | Contattaci {% endblock head_title %}
{% block content %}
{% load static %}

<div id="mailArea">
    <div class="section-title padd" style="border-bottom: 1px solid white;">
        <h1>Contattaci</h1>
	</div>
	<div id="list" class="list">

        <form action="{% url 'homepage' %}" method="post" style="max-width: 600px;">

            {% csrf_token %}

            <div class="flDiv100">

            {% for field in form %}

                    <div class="flDiv100 padd">
                       {{ field.label_tag }}
                    </div>
                    <div class="flDiv100">
                       {{ field }}
                    </div>

            {% endfor %}

		    </div>

            <div class="flDiv100 padd">
                <input type="submit" class="button nuBtn" value="Invia"/>
            </div>
            <div style="clear: both;"></div>

        </form>

    </div>

</div>

{% endblock content %}