<div style="padding: 5px;">
    <img id="{{ widget.name }}-preview" src="{{ widget.value.url }}" style="width: 100%;"/>
</div>
<input type="file" id="file-{{ widget.name }}" name="{{ widget.name }}"
       {% if widget.value %}{{ widget.value }}{% endif %} onchange="preview{{ widget.name }}(this);"/>
<script>
    function preview{{ widget.name }}(input) {
        if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#{{ widget.name }}-preview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
        }
    }
</script>