<!--
********************************* PAGINA DEL PROFILO UTENTE
-->


{% extends 'core_user.html' %}
{% block head_title %}{{ block.super }} | Nuovo Corso {% endblock head_title %}
{% block content %}
{% load static %}

		<div id="mailArea">
			<div class="blackGround widthDiv100 floatting">
				<button id="btnInfo" type="button" data-toggle="modal" data-target="#exampleModal" class="lightness"></button>
				<h1 class="centerAllignment">
					NUOVO CORSO
				</h1>

			</div>

			<div class="topNew floatting">
				<form method="post" enctype="multipart/form-data" novalidate>
					{% csrf_token %}
					<div class="floatting widthDiv100">

					{% for field in form %}
						<div class="labelStyle widthDiv100 floatting">
							{{ field.label_tag }}
						</div>
						<div class="floatting widthDiv100 floatting">
							{{ field }}
						</div>
						<div class="floatting widthDiv100 floatting">
							{{ field.errors }}
						</div>
					{% endfor %}

					</div>
					<div class="centerAllignment">
						<input type="submit" class="button buttonColorBlue widthDiv50" value="Crea Risorsa Didattica">
					</div>
				</form>
			</div>
		</div>

		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				  Con LINKaTO puoi condividere le tue proposte formative inerenti a formazione professionale e/o orientamento.
				  I contenuti possono essere diffusi sotto forma di collegamento URL a provider esterni (ad es. YouTube e Prezi)
				  oppure allegati in pdf. Lo staff LINKaTO assicura la qualità complessiva del servizio e provvederà ad eliminare
				  eventuali contenuti ritenuti non idonei oppure offensivi.
			  </div>
			</div>
		  </div>
		</div>

{% endblock content %}