<!--
********************************* TEMPLATE LEZIONE
-->


{% extends '../platform.html' %}
{% block head_title %}{{ block.super }} | {{ corso_lezione.nome_corso }} {% endblock head_title %}
{% block content %}
{% load static %}

    <!-- ************************************************
         aggiungere ai link opacity:0.2;
         visibilità piena quando hanno il cursore sopra
         margine rispetto all'iframe
    ************************************************* -->
    <div class="section-title padd" style="border-bottom: 1px solid white;">
        <h1>
            Lezione: "{{ lezione }}"
        </h1>
        {% if contenuto.allegato_lezione %}
        <a title="Allegato" href="{{ contenuto.allegato_lezione.url }}" download="Allegato">
            Scarica Allegato <i class="fas fa-paperclip"></i>
        </a>
        {% endif %}
	</div>
	<div id="list" class="list" style="padding: 0;">
        <div id="lessonDiv" class="flDiv75">
            <div class="flDiv100 padd flexCenter">
                {% if previous %}
                    <a title="Lezione precedente" href="{% url 'finestra_lezione' pk=previous.pk %}" class="lessonNextPrevButton" style="font-size: 32px; margin: 25px;">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                {% endif %}
                {% if lezione.nome_lezione.link_lezione %}
                {{ lezione.nome_lezione.link_lezione|safe }}

                {% elif lezione.nome_lezione.file %}
                <object data="{{ lezione.nome_lezione.file.url }}" type="application/pdf" width="100%" height="450px"></object>
                {% endif %}
                {% if next %}
                    <a title="Lezione successiva" href="{% url 'finestra_lezione' pk=next.pk %}" class="lessonNextPrevButton" style="font-size: 32px; margin: 25px;">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                {% endif %}
            </div>
            <div class="flDiv100 padd">
                <span>Lezione: "{{ lezione.nome_lezione }}"</span>

            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="lessons-list" style="">
            <div class="padd" style="border-bottom: 1px solid white;">
                <a href="{{ corso_lezione.get_absolute_url }}" style="color: white;">
                    <h1 style="color: white;">{{ lezione.corso_lezione }}</h1>
                </a>
            </div>
            <ul>
                {% for lesson in lista_lezioni %}
                    {% if lesson.pk == lezione.pk %}
                    <li>
                        <a href="{{ lesson.get_absolute_url }}" style="background: rgb(235, 185, 35);">{{ lesson.nome_lezione }}</a>
                    </li>{% else %}
                    <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.nome_lezione }}</a></li>{% endif %}
                {% endfor %}
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock content %}