{% extends 'base.html' %}
{% block head_title %}{{ block.super }} | Logout {% endblock head_title %}
{% block content %}
{% load static %}

<div id=mailArea>
    <div class="widthDiv100">
        <form method="post" novalidate>
            <div class="blackGround">
                <h1 class="centerAllignment">LOGOUT</h1>
            </div>
            <div class="topNew floatting widthDiv100">

                <div class="floatting widthDiv100">
                    <p>Logout Completato</p>
                    <p>Clicca sul pulsante per effettuare nuovamente l'accesso:</p>
                    <a href="{% url 'login' %}" class="button buttonColorBlue">LOGIN</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}