{% extends 'base.html' %}
{% block head_title %}{{ block.super }} | Login {% endblock head_title %}
{% block content %}
{% load static %}

<div id="mailArea">
    <div class="blackGround">
        <h1 class="centerAllignment">LOGIN AREA</h1>
    </div>
    <div class="topNew">
        {% if form.errors %}
        <p class="centerAllignment goldLinkatoColor"><strong>Username e/o Password non risultano registrate. Si prega di riprovare</strong></p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>L'Account non possiede i privilegi necessari per accedere a questa pagina. Contatta gli amministratori del sito</p>
            {% else %}
            <p>Accedi al tuo account per visionare questa pagina.</p>
            {% endif %}
        {% endif %}

        <form action="{% url 'login' %}" method="post" autocomplete="off" novalidate>

        {% csrf_token %}

        <div class="floatting widthDiv100">

            <p>
                Come username inserire nome e cognome separati dal simbolo "underscore",
                assicurandosi di aver digitato correttamente maiuscole e minuscole.
            </p>
            <p> EX: "Paola_Bianchi", "Mario_Rossi"</p>

        {% for field in form %}

                <div class="labelStyle widthDiv100 floatting">
                   {{ field.label_tag }}
                </div>
                <div class="floatting widthDiv100 floatting">
                   {{ field }}
                </div>
				<div class="floatting widthDiv100 floatting">
                   {{ field.errors }}
                </div>

        {% endfor %}

		</div>

            <div class="floatting widthDiv100">
                <button type="submit" class="button buttonColorBlue widthDiv100">VAI AI CORSI</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>

        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p class="rightAllignment"><a href="{% url 'password_reset' %}">Hai dimenticato la password?</a></p>
        <!-- <span class="centerAllignment">Registrandoti accetti i nostri <a href="#">Termini di utilizzo</a> e la <a href="#">Politica sulla Privacy</a></span> -->
        <hr/>
        <p>Se non sei ancora in possesso di un account:</p>
        <a href="{% url 'registrazione' %}" class="button buttonColorRed widthDiv100">REGISTRATI</a>
    </div>

</div>

{% endblock content %}