{% extends 'base.html' %}
{% block head_title %}{{ block.super }} | Password inviata {% endblock head_title %}
{% block content %}
{% load static %}
   <div id=mailArea>
       <div class="blackGround">
		  <h1 class="centerAllignment">PASSWORD INVIATA</h1>
	   </div>
	   <div class="topNew floatting widthDiv100">
		   <p>La password è stata inviata al tuo indirizzo di posta elettronica.</p>
		   <p>Clicca sul pulsante per tornare alla home page:</p>
		   <a href="{% url 'homepage' %}" class="button buttonColorBlue">HOME</a>
	   </div>
   </div>
{% endblock content %}