<!DOCTYPE html>
<html lang="en">
  <head>{% load static %}{% load miei_filtri %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/accounts-layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}" />
    <title>Password Modifcata</title>
  </head>
  <body>
   <div class="container">
	   <div id="list" class="form-list" style="">
		   <div class="form-card">
				<header class="card-header padd">
					<h1 >Password Modificata</h1>
				</header>
				{# Assumes you setup the password_reset view in your URLconf #}
				<div class="padd">
					<p>Password Modificata con successo</p>
					<br/>
					<br/>
				<div/>
				<div class="padd">
					<a href="{% url 'account_profile' %}" class="button nuBtn">Torna alla bacheca</a>
				</div>
			</div>
	   </div>
   </div>
	<script src="{% static 'script.js' %}">
	</script>
  </body>
</html>