{% extends 'base.html' %}
{% block head_title %}{{ block.super }} | Modifica Password {% endblock head_title %}
{% block content %}
{% load static %}

  <div id=mailArea>

    <div class="blackGround">
        <h1 class="centerAllignment">MODIFICA PASSWORD</h1>
    </div>
    <div class="topNew floatting widthDiv100">

        <form method="post" autocomplete="off" novalidate class="widthDiv100">

        {% csrf_token %}

        {% for field in form %}
            <div class="floatting widthDiv100">
                <div class="labelStyle widthDiv100 floatting">
                   {{ field.label_tag }}
                </div>
                <div class="floatting widthDiv100">
                   {{ field }}
                </div>
                <div class="floatting widthDiv100">
                   {{ form.erorrs }}
                </div>
            </div>
        {% endfor %}

            <div class="floatting widthDiv100">
                <button type="submit" class="button buttonColorBlue widthDiv100">MODIFICA PASSWORD</button>
            </div>


        </form>

    </div>

  </div>

{% endblock content %}