<!--
********************************* PAGINA DEL PROFILO UTENTE
-->


{% extends 'base.html' %}
{% block head_title %}{{ block.super }} | Account {% endblock head_title %}
{% block content %}
{% load static %}


	<div id="user_banner" class="floatting">
		<div id="logo">
			<a href="{% url 'homepage' %}">
				LINK<img src="{% static 'img/logo.png' %}" alt="LINKaTO Logo" width="28" height="32"/>TO
			</a>
		</div>
		<div id="user_options">
			<form action="test.php" method="get">
				<input type="submit" value="Cerca" class="button buttonColorBlue widthDiv25 floatting" />
				<input type="search" name="datiDaCercare" class="textInputStyle"/>
			</form>
			<abbr title="Notifiche"><a href="#" class="button buttonColorRed"><img src="https://png.icons8.com/material/24/000000/appointment-reminders.png"></a></abbr>
			<abbr title="Cambia Password"><a href="#" class="button buttonColorRed"><img src="https://png.icons8.com/material/24/000000/services.png"></a></abbr>
			<abbr title="Logout"><a href="{% url 'logout' %}" class="button buttonColorRed"><img src="https://png.icons8.com/material/24/000000/user.png"></a></abbr>

		</div>
	</div>

	<div id="user_title" class="floatting widthDiv100 classetNew">

		<div class="user_view">
			<h5>Benvenuto {{ user }}</h5>
			<p>Sei iscritto dal {{ user.date_joined|date}}</p>
			<a href="{% url 'logout' %}" class="button buttonColorRed" style="color:white;">LOGOUT</a>
    	</div>

	</div>

	<div class="widthDiv50" style="background:white; margin:auto; border:0.5px solid gray; position:relative; top:-119px; display:flex; flex-wrap:wrap; z-index:1;">
		<div class="widthDiv100 floatting centerAllignment">
			<h1 class=" blackGround widthDiv100 ">ELENCO DEI CORSI</h1>
			<p style="">
				Scorri nell'elenco dei corsi disponibili, inserisci una parola chiave nella barra di ricerca oppure accedi al pannello laterale per condividere una risorsa didattica
			</p>
		</div>
		<!--
		<div class="widthDiv100" style="display:flex; justify-content: space-around; padding:10px;">
			<a href="#"><img src="https://png.icons8.com/flat_round/50/000000/back.png"></a>
			<a href="#"><img src="https://png.icons8.com/flat_round/50/000000/circled-chevron-right.png"></a>
		</div>
		-->
	</div>


	<div id="user_container" class="floatting">

		<div class="classetNew user_container_bar"></div>

		<div id="user_content" class="floatting topNew">

			{% for corso in object_list %}

				<div class="floatting widthDiv100">
					<div class="widthDiv25 floatting">
						<img src="{% static 'img/logo.png' %}" alt="LINKaTO Logo" width="80px" height="149px">
					</div>
					<div class="widthDiv75 floatting">
						<h4 class=" blackGround">{{ corso.nome_corso }} | {{ corso.docente_corso }} | {{ corso.data_corso }}</h4>
						<p> {{ corso.descrizione_corso }} </p>
					</div>
				</div>

			{% endfor %}
		</div>

		<div class="classetNew user_container_bar"></div>

	</div>

{% endblock content %}