<!DOCTYPE html>
<html lang="en">
  <head>{% load static %}{% load miei_filtri %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/accounts-layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}" />
    <title>Registrazione</title>
  </head>
  <body>
   <div class="container">
	   <div id="list" class="form-list" style="">
		   <div class="form-card">
			   {% if form.errors %}
				<div class="padd">
					<strong>Username e/o Password non risultano registrate. Si prega di riprovare</strong>
				</div>
				{% endif %}

				<div class="padd">
				 {{ user_esiste }}
				</div>

			   <div class="padd">
				   {{ form_utente.errors }}
				   {{ form_utente.non_form_errors }}
			   </div>

				<form action="{% url 'registrazione' %}" method="post" autocomplete="off" novalidate class="form">

				{% csrf_token %}
				<header class="card-header padd">
					<h1 >Registrazione Utente</h1>
				</header>
				<div>
				{% for field in form %}
					<div class="padd">
					   {{ field.label_tag }}
					</div>
					<div>
					   {{ field }}
					</div>
					<div class="padd">
					   {{ field.errors }}
					</div>
				{% endfor %}
				{% for field in form_utente %}
					<div class="padd">
					   {{ field.label_tag }}
					</div>
					<div>
					   {{ field }}
					</div>
					<div class="padd">
					   {{ field.errors }}
					</div>
				{% endfor %}
				{% for field in form_scuola %}
					<div class="padd">
					   {{ field.label_tag }}
					</div>
					<div>
					   {{ field }}
					</div>
					<div class="padd">
					   {{ field.errors }}
					</div>
				{% endfor %}

			<!-- Da implementare registrandosi al sito: https://www.google.com/recaptcha/admin -->
			<!--<script src='https://www.google.com/recaptcha/api.js'></script>
			<div class="g-recaptcha widthDiv100 floatRight" data-sitekey="6LdRSRYUAAAAAFCqQ1aZnYfRGJIlAUMX3qkUWlcF"></div>-->

			</div>
				<div class="padd">
					<hr/>
					<span>Registrandoti accetti i nostri <a href="#">Termini di utilizzo</a> e la <a href="#">Politica sulla Privacy</a></span>
					<hr/>
				</div>
				<div class="padd">
					<button type="submit" class="button nuBtnYellow">Accetta e registrati</button>
				</div>

				</form>
			   </div>
	   </div></div>
	<script src="{% static 'script.js' %}">
	</script>
  </body>
</html>