<!DOCTYPE html>
<html lang="en">
  <head>{% load static %}{% load miei_filtri %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}" />
    <title>{% block head_title %}Linkato{% endblock head_title %} {% if token %}| {{ token }} {% endif %}</title>
  </head>
  <body>
   <div class="container">
	{% include 'include/header.html' %}
	{% include 'include/aside.html' %}
	<main id="main" class="main">{% block content %}
		<div class="section-title padd" style="border-bottom: 1px solid white;">
			<h1>
				{% if nome_docente %}
				Programmi di {{ nome_docente.first_name }} {{ nome_docente.last_name }}
				{% else %}{{ token }}
				{% endif %}
			</h1>
		</div>
		<div id="list" class="list">

		   {% for corso in object_list %}
		   <article id="post{{ corso.pk }}" class="card">
			  <div>
				  <div style="color: black; position: relative;">
					  <div class="flDiv100 img-card-wrapper">{% if corso.img_corso %}
						<img alt="{{ corso.nome_corso }}" src="{{ corso.img_corso.url }}" class="img"/>{% endif %}
					  </div>
					  <div class="padd flDiv100" style="padding-top: 25px;">
						<h5>{{ corso.nome_corso|truncatechars:50 }}</h5>
					  </div>
					  <div class="portrait card-docente">
						 <form method="get" action="{% url 'corsi_docente' %}">
							  <button name="doc" type="submit" value="{{corso.docente_corso.pk}}" class="input-link">
								  <img src="{{ corso.docente_corso.avatar.picture.url }}" title="{{ corso.docente_corso.full_name }}"/>
							  </button>
						  </form>
					  </div>
				  </div>
				  <div class="padd flDiv100">
					  <span class="gray">#{{ corso.get_sezione_corso_display }}</span>
				  </div>
				  <div class="padd flDiv50">
					  <a href="{% url 'finestra_corso' pk=corso.pk %}" class="gold">
						  Leggi tutto
					  </a>
				  </div>
				  <div class="flDiv50 flexEnd">
					  {% if mooc_key %}
					  <a href="{% url 'modifica_corso' pk=corso.pk %}" title="Modifica Corso" class="action-card">
						  <i class="fas fa-pen"></i>
					  </a>
					  {% else %}
					  {% if request.user in corso.followers.all %}
					  <a href="javascript:likeFunc({{request.user.pk}}, {{corso.pk}}, 'heart{{corso.pk}}')" title="Rimuovi dai preferiti" class="action-card">
						  <i id="heart{{corso.pk}}" class="fas fa-heart red"></i> <!-- data-count="{{ corso.followers.count }}"-->
					  </a>
					  {% else %}
					  <a href="javascript:likeFunc({{request.user.pk}}, {{corso.pk}}, 'heart{{corso.pk}}')" title="Salva tra i preferiti" class="action-card">
						  <i id="heart{{corso.pk}}" class="fas fa-heart"></i>
					  </a>
					  {% endif %}{% endif %}
				  </div>
				  <div style="clear: both;"></div>
			  </div>
		   </article>
		   {% empty %}
		   <div class="padd">
			   <span>Nessuna risorsa presente</span>
		   </div>
		   {% endfor %}
		</div>{% endblock content %}
		<div style="clear:both;"></div>
	</main> <!-- End Main -->
	</div> <!-- Container -->
	<script src="{% static 'script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>

    	//This function add user to course followers list
		function likeFunc(liker, course, id) {
    		var user = liker;
    		var course = course;
			$.ajax({

				url: '/core/ajax_request/' + user + "/"+course,
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				dataType: 'json',
				type: 'post',
				success: function(data) {
					console.log(data);
					message('modifiche salvate');
				}

			});
			var btn = document.getElementById(id);
				if (btn.classList.contains('red')){
			btn.classList.remove('red');
			}
			else {
				btn.classList.add('red');
			}
    	}

		//This function add lesson to selected course
    	function copyLesson(lesson, course) {
    		var lesson = lesson;
    		var course = course;
			$.ajax({
				url: '/core/ajax_copy_lesson/' + lesson + "/"+course,
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				dataType: 'json',
				type: 'post',
				success: function(data) {
					console.log(data);
					message('risorsa aggiunta con successo');
				}

			});

    	}
    </script>
  </body>
</html>