<!DOCTYPE html>
<html lang="en">
  <head>{% load static %}{% load miei_filtri %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}" />
    <title>Linkato</title>
  </head>
  <body>
   <div class="container">
	<header class="top">
		<div class="menu-item">
			<div class="search-input">
				<form action="{% url 'risultati_ricerca' %}" method="get" novalidate>
					<input type="search" name="q" placeholder="Cerca">
					<div>
						<select name="sec">
							<option value="0" selected>Scegli sezione</option>
							<option value="1">Orientamento</option>
							<option value="2">Impresa</option>
							<option value="3">Digitale</option>
						</select>
						<button type="submit" class="action-card">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	    <div >
			<ul class="user-menu">
				<li class="menu-item">
                  <a class="dropdown">
					  <div class="portrait">
					  	<img src="{% static 'img/profile.png' %}"/>
					  </div>
					  <span>{{ user.first_name }}</span>
					  <div style="clear: both;"></div>
				  </a>
                  <ul class="dropdown-menu">
                      <li class="menu-item">
						  <a href="{% url 'password_change' %}">
						  	<i class="fas fa-key"></i>
							  Modifica Password
						  </a>
					  </li>
                      <li class="menu-item">
						  <a href="{% url 'logout' %}">
						  	<i class="fas fa-sign-out-alt"></i>
							  Logout
						  </a>
					  </li>
                  </ul>
              </li>
			</ul>
        </div>
	</header>
    <aside class="aside">
	   <a href="{% url 'account_profile' %}" class="top-logo"></a>
	   <div style="position: relative;">
		 <div class="flDiv100 padd" style="border-bottom: 1px solid white;">
			 <h1>Menu</h1>
		 </div>
		 <nav id="responsiveMenu" class="flDiv100">
			 <ul class="menu">
				<li>
    			  <a href="{% url 'crea_corso' %}">Crea Risorsa Didattica</a>
    			</li>
    		    <li>
    			  <a href="{% url 'account_profile' %}">Bacheca</a>
    			</li>
                <li>
    			  <a href="{% url 'corsi_preferiti' %}">Preferiti</a>
    			</li>
				<li>
    			  <a href="{% url 'docenti' %}">Docenti e Partner</a>
    			</li>
    			<li>
    			  <a href="{% url 'miei_mooc' %}">I Miei Corsi</a>
    			</li>
    			<li>
    			  <a href="{% url 'mail_form' %}">Contattaci</a>
    			</li>
    		 </ul>
		 </nav>
		 <div style="clear: both;"></div>
	   </div>
	</aside>
	<main id="main" class="main">{% block content %}
	<div class="section-title padd" style="border-bottom: 1px solid white;">
		{% if mooc_key %}
		<h1>I Miei Corsi </h1>
		{% else %}
		<h1>
			Risorse Didattiche
			{% if nome_docente %}
			 di {{ nome_docente.first_name }} {{ nome_docente.last_name }}
			{% endif %}
		</h1>

		{% endif %}
	</div>
	<div id="list" class="list">
	   {% for corso in object_list %}
	   <article id="post{{ corso.pk }}" class="card">
	      <div>
			  <div style="color: black; position: relative;">
				  <div class="flDiv100" style="height: 160px; overflow: hidden;">{% if corso.img_corso %}
					<img alt="{{ corso.nome_corso }}" src="{{ corso.img_corso.url }}" class="img"/>{% endif %}
				  </div>
				  <div class="padd flDiv100" style="padding-top: 25px;">
					<h5>{{ corso.nome_corso|truncatechars:50 }}</h5>
				  </div>
				  <div class="portrait card-docente" title="{{ corso.docente_corso.full_name }}">
					 <form method="get" action="{% url 'corsi_docente' %}">
						  <button name="doc" type="submit" value="{{corso.docente_corso.pk}}" class="input-link">
							  <img src="{% static 'img/profile.png' %}"/>
						  </button>
					  </form>
				  </div>
			  </div>
			  <div class="padd flDiv100">
				  <span class="gray">#{{ corso.get_sezione_corso_display }}</span>
			  </div>
			  <div class="padd flDiv50">
				  <a href="{% url 'finestra_corso' pk=corso.pk %}" class="gold">
					  Leggi tutto
				  </a>
			  </div>
			  <div class="flDiv50 flexEnd">
                  {% if mooc_key %}
                  <a href="{% url 'modifica_corso' pk=corso.pk %}" title="Modifica Corso" class="action-card">
					  <i class="fas fa-pen"></i>
				  </a>
                  {% else %}
                  {% if request.user in corso.followers.all %}
				  <a href="javascript:likeFunc({{request.user.pk}}, {{corso.pk}}, 'heart{{corso.pk}}')" title="Rimuovi dai preferiti" class="action-card rRed">
					  <i id="heart{{corso.pk}}" class="fas fa-heart red"></i>
				  </a>
				  {% else %}
				  <a href="javascript:likeFunc({{request.user.pk}}, {{corso.pk}}, 'heart{{corso.pk}}')" title="Salva tra i preferiti" class="action-card rRed">
					  <i id="heart{{corso.pk}}" class="fas fa-heart"></i>
				  </a>

				  <!--
				  <a href="{% url 'salva_preferiti' pk=corso.pk %}" title="Rimuovi dai preferiti" class="action-card rRed">
					  <i class="fas fa-heart red"></i>
				  </a>
				  {# else #}
				  <a href="{% url 'salva_preferiti' pk=corso.pk %}" title="Salva tra i preferiti" class="action-card">
					  <i class="fas fa-heart"></i>
				  </a> -->
				  {% endif %}{% endif %}
			  </div>
			  <div style="clear: both;"></div>
		  </div>
	   </article>
	   {% empty %}
	   <div class="padd">
		   <span>Nessuna risorsa presente</span>
	   </div>
	   {% endfor %}
    </div>{% endblock content %}
	</main> <!-- End Main -->
	</div> <!-- Container -->
         <!--<button id="fixedBtn" onclick="searchCall()"><i class="fa fa-search"></i></button>
		 <div id="search" >
		 	  <div class="searchContent">
			  	   <form>
    			  	   <input type="text" placeholder="Cerca..." name="q" autocomplete="off">
    				   <button type="submit"><i class="fa fa-search"></i></button>
				   </form>
			  </div>
	     </div>-->
	<script src="{% static 'script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    	$(function () {
			console.log("Hello!");
		});
		var user = 0;
		$.ajaxSetup({
				data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
			});


    	function likeFunc(liker, course, id) {
    		var user = liker;
    		var course = course;
			$.ajax({

				url: '/core/ajax_request/' + user + "/"+course,
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				dataType: 'json',
				type: 'post',
				success: function(data) {
					console.log(data);
				}

			});
			var btn = document.getElementById(id);
				if (btn.classList.contains('red')){
			btn.classList.remove('red');
			}
			else {
				btn.classList.add('red');
			}



    	}
    </script>
  </body>
</html>