<!--
********************************* PAGINA DEL CORSO
-->


{% extends 'platform.html' %}
{% block head_title %}{{ block.super }} | Preview {{ corso.nome_corso }} {% endblock head_title %}
{% block content %}
{% load static %}
    <div class="section-title padd" style="border-bottom: 1px solid white;">
        <h1>Crea Corso</h1>
	</div>
	<div id="list" class="list">
        <div class="flDiv50">
            <div class="padd">
                <h3>Aggiungi lezioni e contenuti a "{{ corso.nome_corso }}"</h3>
            </div>
            <!--
            <div>
                <p>NB: ricorda che il form accetta soltanto codice di incorporazione dalla piattaforma
                    <a title="Vimeo" href="https://www.vimeo.com" target="_blank">Vimeo</a>
                </p>
            </div>
            -->
            <form method="post" enctype="multipart/form-data" novalidate style="max-width: 600px;">
                {% csrf_token %}
                {% for field in form %}
                <div class="padd">
                    {{ field.label_tag }}
                </div>
                <div class="padd">
                    {{ field }}
                </div>
                {% endfor %}
                <div class="padd">
                    <input name="form_lezione" type="submit" value="Salva Lezione" class="button nuBtnYellow" style="width: 160px;">
                </div>
            </form>
        </div>
        <div class="flDiv50" style="padding-left: 60px; position: relative;">
            <div class="padd">
                <h3>Contenuti</h3>
            </div>
            <div class="padd">
                <ul>{% for lezione in lista_lezioni %}
                        <li>
                            <a href="{{lezione.get_absolute_url}}">{{lezione.nome_lezione}} </a>
                            <a title="Elimina Lezione" href="{% url 'elimina_lezione' pk=lezione.pk %}" onclick="return confirm('Eliminare il contenuto?')">
                                <i class="fas fa-trash"></i>
                            </a>
                            {% if lezione.allegato_lezione %}
                            <a title="Allegato" href="{{ lezione.allegato_lezione.url }}" download="Allegato">
                                <i class="fas fa-paperclip"></i>
                            </a>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li>Nessuna Lezione Presente</li>
                        {%endfor%}
                </ul>
            </div>
            <div id="prova"></div>
            <div class="padd" style="position: absolute; top: 0; right: 0;">
                <a href="{% url 'account_profile' %}" id="btnCorso" title="Salva Corso" type="button" class="button nuBtn" style="max-width: 600px;">
                    Salva e continua
                </a>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock content %}