       @import url('include/widget-menu.css');

       /******************************************************* Layout */
       * {
       -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
	   box-sizing: border-box;
	   }
	   html, body {
       height:100%; 
       height:100%;
       padding: 0;
	   margin: 0;
       scroll-behavior: smooth;
       }

	   .container { 
	   width:100%;
	   overflow:hidden;
       display:flex;
       justify-content: space-around;
       float:left;
	   }
	   .listSide, .list {
	   padding: 15px;	   
	   margin:0;
	   }
       .aside {
	   width: 15%;
       min-height:100vh;
       background-color: rgb(85,85,85);
	   color:white;
       position:fixed;
       left:0;
       z-index: 11;
       padding-top: 11.25vh;
       overflow: hidden;
	   }
       .main { 
       width: 100%;
       min-height: 100vh;
       padding-left: 15%;
       padding-top: 11.25vh;
       }
       .top {
	   width:100%;
	   position: fixed;
	   display: flex;
	   justify-content: flex-end;
	   z-index: 10;
	   background: rgb(235, 185, 35);
	   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
	   }
       .list {
	   width:100%;
	   height: auto;
       position: relative;
	   }
	   .lessons-list {
	   background: rgb(130,130,130);
	   position: fixed;
	   right: 0;
	   top: 0;
	   height: 100vh;
	   overflow: auto;
	   z-index: 9;
	   padding-top: 11.25vh;
	   width: 250px;
	   }
	   .footer { 
	   width:100%;
	   background-color:rgb(185,185,185);	
       float:left;          
	   }
	   .footer div { 
	   width:40%;
	   margin: 5%;
	   float:left;
	   }

       /******************************************************* Menu */
       #responsiveMenu {
       float: left;
       margin-top: 10px;
       }
	   .menu {
       padding: 0;
	   margin: 0;
	   }
	   .menu li {
	   list-style-type: none;
	   padding: 0;
	   margin: 0;
	   }
	   .menu li a {
	   color:white;
	   text-decoration: none;
	   display:block;
	   padding: 10px;
	   transition: all 0.15s;
	   }
       .hiddenMenu { 
       display: none;
	   }
       .hiddenMenu a {
  	   display: block;
  	   text-decoration: none;
  	   color: white;
  	   padding:10px;
	   margin-bottom:5px;
  	   margin-left:-10px;  
	   }


	   /******************************************************* Generic */
	   .logo {
       height:40px;
       width:120px;
       border-radius:40px;
       -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
       border:5px solid white;
       background:white;
       margin-right: 5%;
       font-family:Calibri;
       font-size:27px;
       text-align: center;
       margin: 0;
       }
       .gridContainer {
	   /*display: grid;
	   grid-template-columns: auto auto auto auto;
	   grid-gap: 10px;
	   padding: 10px;*/
       }

       .padd {
       padding: 10px;
       }


	   .flexBox { 
	   display:flex;
	   flex-wrap:nowrap;
	   justify-content: space-between;
	   align-items: center;
	   }
	   .flexTable {
	   display:flex;
	   flex-wrap:nowrap;
	   justify-content: space-around;
	   align-items: center;
	   }
	   .flexEnd {
	   display:flex;
	   justify-content: flex-end;
	   align-items: center;
	   }
	   .flexCenter {
	   display:flex;
	   justify-content: center;
	   align-items: center;
	   }
	   .flDiv25 { 
	   width:25%;
	   float:left;
	   }
       .flDiv50 { 
	   width:50%;
	   float:left;
	   }
	   .flDiv75 { 
	   width:75%;
	   float:left;
	   }
       .flDiv100 {
       width:100%; 
       float:left;
       }
       .img { 
       width:100%;
       height:100%;
       }
       .floatL { 
       float:left;
       width: 100%;
       }
       .floatR { 
       float:right;
       }
       .color-black input, .color-black a {color: black;}

       /* --- Font */
       * {
	   font-family: 'Didact Gothic', sans-serif;
	   }
	   h1,h2,h3,h4,h5,h6 {

	   }
	   h1,h2,h3,h4,h5,h6, p, a {padding: 0; margin: 0;}
	   h6, p, a {
	   font-size: 15px;
	   }
	   h5 {font-size: 18px;}
	   h4 {font-size: 21px;}
	   h3 {font-size: 24px;}
	   h2 {font-size: 27px;}
	   h1 {font-size: 30px;}
	   a {text-decoration: none; color: rgb(235, 185, 35);}
       a:active{opacity: 0.5;}


       /******************************************************* @Media */
	   @media only screen and (max-width: 900px) {
      	   .nav-icon-container {
      	   display: block;
      	   }

      	   .user-menu .menu-item .dropdown {
      	   display: flex;
      	   justify-content: flex-end;
      	   }

      	   .aside {
      	   width: 60vh;
      	   max-width: 0;
      	   transition: all 0.2s;
      	   overflow: hidden;
      	   z-index: 9;
      	   }

           .search-menu-responsive {display: block;}
      	   .search-container-box {
      	   position: fixed;
      	   width: 100%;
      	   max-height:0;
      	   overflow: hidden;
      	   top: 70px;
      	   left: 0;
      	   background: rgba(0,0,0,0.5);
      	   transition: all 0.2s;
      	   }

      	   .list {
           width:100%;
           display: flex;
           align-items: center;
           flex-direction: column;
     	   }

     	   .main {
     	   padding-left: 0;
     	   }

     	   .lessons-list {
     	   position: static;
     	   padding-top: 0;
     	   float: left;
     	   width: 100%;
     	   z-index: 0;
     	   }
	  }