       /*
       INDEX:
       1) Cards
       2) Forms
       3) Buttons
       4) Search Modal
       */

       .right {
       text-align: right;
       }
       .block {
       display: block;
       }


       /******************************************************* Cards */

       .card {
       float: left;
	   margin: 1%;
	   transition: transform 3s;
	   margin-bottom: 50px;
	   width: 240px;
	   min-height: 330px;
       padding: 0;
       border-radius: 6px;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       background: white;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
       overflow: hidden;
       height: auto;
       position: relative;
	   }
	   .card-header {
	   text-align: center;
	   }
	   .close {
	   display:none;
	   text-align:right;
       margin-bottom:5px;
	   }
       .close * {
       font-size:36px;
       color:rgb(245,205,5);
       }
	   .contentList {
	   display:none;
	   transition: display 3s;
	   }

	   .button-card {
	   position: absolute;
	   bottom: 0;
	   width: 100%;
	   }

	   .action-card {
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   flex-direction: row;
	   width: 40px;
	   height: 40px;
	   border-radius: 50%;
	   -webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	   transition: background 0.2s;
	   color: rgb(85,85,85);
	   margin-right: 10px;
	   border: 0;
	   cursor: pointer;
	   background: none;
	   }

	   .action-card:hover {
	   background: rgb(235,235,235);
	   }

	   .open-card {
	   position: absolute;
	   top: 0;
	   left: 0;
	   margin: 20px;
	   z-index: 9;
	   width: 800px;
	   height: 100vh;
	   }

	   .iframe-card {
	   height: 160px;
	   overflow: hidden;
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   }
	   .iframe-card iframe {
	   width: 100%;
	   }

	   .card-docente {position: absolute; top: 115px; right: 0; margin: 10px; box-shadow: 0px 0px 6px 3px rgba(50,50,50,0.25); width: 60px; height: 60px;}
       .card-docente button {width: 60px; height: 60px;}


	   /******************************************************* Forms */
	   #myInput {
       background-image: url('/css/searchicon.png');
       background-position: 10px 10px;
       background-repeat: no-repeat;
       }

       form {
       max-width: 600px;
       width: 100%;
       }

       form input, form textarea, .select {
       width: 100%;
       font-size: 16px;
       padding: 12px;
       border: 1px solid #ddd;
       border-radius:10px;
	   -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       outline: none;
       }

       .file-upload input[type=checkbox], .file-upload label {
       display: none;
       }

       /******************************************************* Ombre */

       /*
       input:focus, .nuBtn:hover {
       outline: none;
       box-shadow: 0px 1.5px 3px 0px rgb(235,245,245);
       -webkit-box-shadow: 0px 1.5px 3px 0px rgb(225,245,245);
       -moz-box-shadow: 0px 1.5px 3px 0px rgb(225,245,245);
       }
       */

       /******************************************************* Buttons */
       /* Da Implementare */

       .nuBtnGrid {
       display: flex;
       width: 100%;
       justify-content: flex-end;
       align-items: center;
       }

       .nuBtnGrid * {
       margin-left: 5px;
       }

       /* Da Implementare */

       #fixedBtn {
	   z-index: 1;
	   cursor:pointer;
       width: 80px;
       height: 80px;
	   border:0;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       position: fixed;
       bottom: 15px;
       right: 15px;
       visibility: visible;
       transition: visibility 2s, width 2s, height 2s, transform 1.5s;
	   font-size: 48px;
       }
       .circle {
	   display:flex;
	   justify-content: center;
	   align-items: center;
	   border-radius:50%;
	   -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
	   width:30px;
	   height:30px;
	   background-color:rgb(245,205,5);
	   }
	   button.circle {
	   border: none;
	   cursor: pointer;
	   outline: none;
	   }
	   .circle:hover {
	   box-shadow: 0 0 10px rgb(185,185,185);
	   -webkit-box-shadow: 0 0 10px rgb(185,185,185);
	   -moz-box-shadow: 0 0 10px rgb(185,185,185);
	   }
	   .circle i {
	   color: rgb(85,85,85);
	   font-size: 18px;
	   }
 /* --- Buttons ---*/
       .button {
       cursor: pointer;
       display: inline-block;
       padding: 7.5px;
       transition: background 0.4s;
       position: relative;
       border: 1px solid rgb(205,205,205);
       border-radius: 3px;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       outline: none;
       margin: auto;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
       -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
       -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
       background: var(--second-color) radial-gradient(circle, transparent 1%, rgba(250,250,250,0.25) 1%) top/15000%;
       color: white;
       width: 100%;
       text-align: center;
       }

       .button:hover {

       }

        .button:active {
        opacity: 0.5;
        }

       .input-link {
       padding: 0;
       margin: 0;
       display: inline;
       background: none;
       border: 0;
       text-align: left;
       cursor: pointer;
       font-size: 15px;
       outline: none;

       }

       .lessons-list ul {
       padding: 0;
       margin: 0;
       }

       .lessons-list li {
       list-style-type: none;
       }

       .lessons-list li a {
       display: block;
       color: rgb(45,45,45);
       padding: 10px;
       transition: background 0.2s;
       }

       .lessons-list li a:hover {
       background: rgb(235,235,235);
       }

       [data-count] {
       position: relative;
       display: block;
       }

       [data-count]:after {
       content: attr(data-count);
       position: absolute;
       left: -7.5px;
       bottom: -5px;
       color: rgb(85,85,85);
       font-size: 10px;
       width: 12px;
       display: flex;
       justify-content: center;
       align-items: center;
       }

	   /******************************************************* @Media */
	   @media only screen and (max-width: 600px) {

	   }